#home-page {
    display: flex; 
    flex-direction: column;
    background-color: #F2E2E0;
    width: 100vw; 
    height: 150vh; 
}

.main-content {
  flex: 1; /* sets flex-grow, flex-shrink = 1, flex-basis = 0 */
}
