.footer {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 98vw; 
    height: 30vh; 
    background-color: #9F4470; 
    color: #FFFFFC;
    padding: 2em; 
}

.footer a {
    font-family: "OutfitRegular";
    font-size: 0.9375rem;
    color: #FFFFFC;
}

/* left side of footer */
#footer-left {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 2em; 
}

.footer h1 {
    margin: 0px; 
    padding: 0px; 
}

.img-gallery {
    display: flex; 
    flex-direction: row; 
    gap: 2vw;
}

.footer-img {
    width: 5vw;
    max-width: 80px;  
    height: auto; 
}

/* right side of footer */
#footer-right {
    display: flex; 
    flex-direction: row;
    gap: 4vw;
    padding-right: 2vw; 
}

.link-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}