:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #8a5656;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


@font-face {
  font-family: 'NunitoBold';
  src: url('./fonts/Nunito-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'NunitoRegular';
  src: url('./fonts/Nunito-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'OutfitRegular';
  src: url('./fonts/Outfit-Regular.ttf') format('truetype')
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-family: "NunitoBold";
  font-size: 2.83em;
}

h2 {
  font-family: "NunitoRegular";
  font-size: 1.92em; 
}

p {
  font-family: "OutfitRegular";
  font-size: 1.254em; 
}

button {
  font-family: 'NunitoRegular';
  color: #FFFFFC;
  border-radius: 8px;
  border: none; 
  padding: 0.2em 0.5em; 
  font-size: 1.92em;
  font-weight: 500;
  cursor: pointer; 
  white-space: nowrap;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #9F4470;
  }
}
